body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
nav {
  background-color: #8a2be2;
  border: 1px solid black;
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 20px;
}
nav li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 550;
}
header {
  max-width: 70%;
  margin: 50px auto;
  text-align: center;
}
header h2 {
  color: rgb(174, 163, 212);
}
header p {
  display: inline-block;
  margin-top: 10px;
  line-height: 1.5em;
  color: rgb(190, 190, 190);
}
main {
  padding: 20px;
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.box {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
  width: 290px;
  margin: 20px auto;
  padding: 6px;
  align-self: flex-start;
}

.box img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}
.brief {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  max-height: fit-content;
}
.brief img {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}
.brief h4 {
  padding: 0;
  margin: 5px 0;
  white-space: wrap;
}
.description {
  width: 100%;
  position: relative;
}
.description p {
  margin: 5px;
  font-size: 14px;
  line-height: 1.5em;
  color: rgb(190, 190, 190);
  padding-bottom: 20px;
}
.less {
  height: 60px;
}
.less p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more {
  height: fit-content;
}
.more p {
  white-space: wrap;
  overflow: visible;
  text-overflow: unset;
}
.showmore {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  color: blueviolet;
  font-weight: 550;
  font-size: 12px;
  cursor: pointer;
}
footer {
  background-color: blueviolet;
  padding: 10px;
  text-align: center;
  color: rgb(235, 233, 233);
  margin-top: 40px;
}
p::selection,
h1::selection,
h2::selection,
h4::selection {
  color: aliceblue;
  background-color: rgb(82, 15, 146);
}
